workflows/personal-workflow.json
{
  "name": "PersonaFlow - Personal (Advanced)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personal-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "personal-chat"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook\nconst message = $input.item.json.body.message;\nconst history = $input.item.json.body.history || [];\nconst context = $input.item.json.body.context || {};\nconst sessionId = $input.item.json.body.sessionId;\n\nreturn {\n  json: {\n    message,\n    history,\n    context,\n    sessionId,\n    mode: 'personal'\n  }\n};"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content, mood, created_at FROM journal_entries ORDER BY created_at DESC LIMIT 5",
        "options": {}
      },
      "name": "Fetch Recent Journal Entries",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, category, streak FROM habits WHERE streak > 0 ORDER BY streak DESC LIMIT 3",
        "options": {}
      },
      "name": "Fetch Active Habits",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 500],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all context\nconst message = $node['Extract Data'].json.message;\nconst history = $node['Extract Data'].json.history;\nconst journalEntries = $node['Fetch Recent Journal Entries'].json || [];\nconst habits = $node['Fetch Active Habits'].json || [];\n\n// Build context-aware system prompt\nlet systemPrompt = `You are a compassionate AI companion for PersonaFlow, deeply integrated with the user's personal growth journey.\n\nYou have access to:\n- Recent journal entries (moods and reflections)\n- Active habit tracking data\n- Conversation history\n\nYour role:\n- Provide deeply personalized, context-aware responses\n- Reference past journal entries when relevant\n- Acknowledge habit progress and encourage consistency\n- Offer insights based on patterns you observe\n- Be warm, understanding, and genuinely helpful\n\nTone: Warm, insightful, personally engaged\nStyle: Conversational but thoughtful, like a trusted friend who knows you well`;\n\n// Add journal context if available\nif (journalEntries.length > 0) {\n  systemPrompt += `\\n\\nRecent Journal Insights:\\n`;\n  journalEntries.forEach(entry => {\n    systemPrompt += `- ${entry.created_at}: Mood was ${entry.mood}. \"${entry.content.substring(0, 100)}...\"\\n`;\n  });\n}\n\n// Add habit context if available\nif (habits.length > 0) {\n  systemPrompt += `\\n\\nActive Habits:\\n`;\n  habits.forEach(habit => {\n    systemPrompt += `- ${habit.name} (${habit.category}): ${habit.streak} day streak\\n`;\n  });\n}\n\n// Format conversation for Ollama\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history.map(msg => ({\n    role: msg.role === 'user' ? 'user' : 'assistant',\n    content: msg.content\n  })),\n  { role: 'user', content: message }\n];\n\nreturn {\n  json: {\n    messages,\n    sessionId: $node['Extract Data'].json.sessionId\n  }\n};"
      },
      "name": "Build Context-Aware Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama2"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "stream",
              "value": false
            },
            {
              "name": "options",
              "value": {
                "temperature": 0.8,
                "num_predict": 400
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Ollama Chat (Advanced)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract Ollama response\nconst ollamaResponse = $input.item.json.message?.content || 'I apologize, but I\\'m having trouble responding right now.';\nconst sessionId = $node['Build Context-Aware Prompt'].json.sessionId;\n\n// Format response for PersonaFlow\nreturn {\n  json: {\n    text: ollamaResponse,\n    response: ollamaResponse,\n    output: ollamaResponse,\n    message: ollamaResponse,\n    timestamp: new Date().toISOString(),\n    model: 'llama2',\n    mode: 'personal',\n    sessionId\n  }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Fetch Recent Journal Entries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Active Habits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Journal Entries": {
      "main": [
        [
          {
            "node": "Build Context-Aware Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Habits": {
      "main": [
        [
          {
            "node": "Build Context-Aware Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context-Aware Prompt": {
      "main": [
        [
          {
            "node": "Ollama Chat (Advanced)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat (Advanced)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["personal", "advanced", "supabase", "rag"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
